* {
  padding: 0;
  margin: 0;
}

#primary_1 {
  color: #3a10e5;
  color: #ffffff;
  /* Background */
  color: #d7e1f8;
  /* font color */
  color: #4c4859;
}

#secondary_1 {
  color: #f61414;
  color: #2ab930;
  /* input */
  color: #d4d0d0;
  color: #d8d9db;
  color: #f7f7f7;
  color: #6e7099;
  color: #0f85f1;
  /* sign in/up font */
  color: #757575;
  /* grey no active */
  color: #c4c4c4;
  /* grey icons color */
  color: #9a9a9a;
}

/* Linear blue */
#linear_1 {
  background: #6746ef;
  background: linear-gradient(
    90deg,
    rgba(103, 70, 239, 1) 0%,
    rgba(58, 16, 229, 1) 100%
  );
}

/* Landing Page */

#primary_2 {
  color: #3a10e5;
  color: #ffffff;
  /* font color */
  color: #23212a;
  /* title */
  color: #3752b4;
}

#secondary_2 {
  color: #262626;
  color: #666ca7;
  color: #fe9102;
  /* background */
  color: #fef5e8;
}

/* Linear Pink */
#linear_2 {
  background: #c23677;
  background: linear-gradient(
    90deg,
    rgba(194, 54, 119, 1) 0%,
    rgba(197, 57, 122, 1) 33%,
    rgba(196, 56, 121, 1) 66%,
    rgba(187, 46, 111, 1) 100%
  );
}
